@charset "UTF-8";
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #131314;
}

body {
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
  overflow-x: hidden;
  width: 100vw;
}

body::before {
  content: "";
  position: fixed; /* Couvre tout l'écran, même au défilement */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 20%;
  filter: url(#grainy);
  z-index: 10; /* S'assure que cette couche soit au-dessus de tout */
  pointer-events: none; /* Permet de cliquer/interagir avec les éléments en dessous */
}

.svgBackground {
  height: 0;
}

@font-face {
  font-family: "CustomFont1";
  src: url("/font/GOMERY-Bold.woff2") format("woff2");
  font-weight: 700; /* Poids pour Bold */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont1";
  src: url("/font/GOMERY-Regular.woff2") format("woff2");
  font-weight: 400; /* Poids pour Regular */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont3";
  src: url("/font/Ruthligos.woff2") format("woff2");
  font-weight: 400; /* Poids pour Regular */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-Regular.woff2") format("woff2");
  font-weight: 400; /* Poids pour Regular */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-Medium.woff2") format("woff2");
  font-weight: 500; /* Poids pour Medium */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-SemiBold.woff2") format("woff2");
  font-weight: 600; /* Poids pour SemiBold */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-Bold.woff2") format("woff2");
  font-weight: 700; /* Poids pour Bold */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-ExtraBold.woff2") format("woff2");
  font-weight: 800; /* Poids pour ExtraBold */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-Black.woff2") format("woff2");
  font-weight: 900; /* Poids pour Black */
  font-style: normal;
}
header ul li:hover,
header ul li:active {
  background: #306ae8;
  transform: translateX(-50px);
}

header ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

header ul li:hover::before {
  background-color: #1e4aa9;
}

header ul li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

header ul li:hover::after {
  background-color: #3464cb;
}

header {
  width: 100%;
  z-index: 30;
  display: flex;
  justify-content: center;
  padding: 0 60px;
  flex-direction: column;
  height: 10vh;
  font-size: 1rem;
  font-family: "CustomFont1", sans-serif;
}
header .menu1 {
  display: flex;
  width: 100%;
}
header .menu1 .logo {
  width: 50%;
}
header .menu1 .menu-burger {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
header .menu2 {
  display: none;
}
header .pop-menu-enter {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
  position: absolute;
  animation: slideIn 0.5s ease-out forwards;
  top: 140px;
}
header .pop-menu-exit {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
  position: absolute;
  animation: slideOut 0.5s ease-out forwards;
}
header nav ul {
  position: relative;
  transform: skewY(-15deg);
}
header nav ul li {
  position: relative;
  width: 200px;
  background: #3e3f46;
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}
header nav ul li a {
  color: #999;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

header ul li:hover a {
  color: #fff;
}

@keyframes slideIn {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}
@keyframes slideOut {
  from {
    right: 0px;
    top: 140px;
  }
  to {
    right: -300px;
    top: 140px;
  }
}
.sectionOne {
  width: 100%;
  height: 90vh;
  background-image: url("/img/indexBackground.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionOne .textSectionOne {
  transform: scaleX(-1);
  color: white;
  padding: 0 60px;
}
.sectionOne .textSectionOne h1 {
  text-align: end;
}
.sectionOne .textSectionOne h1 span {
  display: inline-block;
}
.sectionOne .textSectionOne h1 #title1 {
  font-family: "CustomFont1", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.sectionOne .textSectionOne h1 #letter1,
.sectionOne .textSectionOne h1 #letter2,
.sectionOne .textSectionOne h1 #letter3 {
  font-family: "CustomFont1", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  color: transparent; /* Rendre l'intérieur du texte transparent */
  -webkit-text-stroke: 2px white; /* Contour noir de 1px */
}
.sectionOne .textSectionOne h1 #letter3 {
  margin-right: 180px;
}
.sectionOne .textSectionOne h1 #title3 {
  font-family: "CustomFont1", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 150px;
}

.sectionTwo {
  width: 100%;
  max-width: 1600px;
  color: white;
  margin: 100px auto;
  padding: 0 60px;
}
.sectionTwo .sectionTwoContent {
  display: flex;
  width: 100%;
  height: 700px;
}
.sectionTwo .sectionTwoContent .about {
  width: 60%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionTwo .sectionTwoContent .about .aboutTitle {
  display: flex;
  position: relative;
}
.sectionTwo .sectionTwoContent .about .aboutTitle img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 450px;
  bottom: 30px;
}
.sectionTwo .sectionTwoContent .about h2 {
  font-family: "CustomFont1", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #306ae8;
  text-transform: uppercase;
}
.sectionTwo .sectionTwoContent .about .separator {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #007bff, #131314);
  margin-bottom: 30px;
  margin-top: 6px;
  border-radius: 50px;
}
.sectionTwo .sectionTwoContent .about p {
  font-size: 0.9rem;
  font-family: "CustomFont2", sans-serif;
  line-height: 40px;
  letter-spacing: 0.2px;
  font-weight: 200;
  padding-bottom: 18px;
}
.sectionTwo .sectionTwoContent .about .mee {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.sectionTwo .sectionTwoContent .about .mee p {
  font-size: 1.4rem;
  font-family: "CustomFont2", sans-serif;
  font-style: italic;
  color: #306ae8;
  padding: 0;
}
.sectionTwo .sectionTwoContent .about .mee img {
  width: 100px;
  position: absolute;
  right: -124px;
  top: -56px;
}
.sectionTwo .sectionTwoContent .myHead {
  width: 40%;
}
.sectionTwo .sectionTwoContent .myHead .webgl {
  width: 100%;
  height: 100%;
}

.sectionThree {
  width: 100%;
  max-width: 1600px;
  color: white;
  margin: 100px auto;
  padding: 0 60px;
  position: relative;
}
.sectionThree h2 {
  font-family: "CustomFont1", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.sectionThree .projGroup1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionThree .projGroup1 .proj {
  position: relative;
  width: 765px;
  height: 510px;
  margin: 24px;
}
.sectionThree .projGroup1 .proj img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.sectionThree .projGroup1 .proj h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: "CustomFont1", sans-serif;
  font-size: 2.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}
.sectionThree .projGroup1 .proj h2 a {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 130px;
  margin-bottom: 30px;
  color: white;
  width: 100%;
  max-width: 1600px;
}
footer .menu1 {
  z-index: 10;
}
footer .menu1 .logo img {
  width: 100%;
  max-width: 1600px;
  padding: 0 60px;
}
footer .contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}
footer .contact .contact1 {
  padding-left: 20px;
}
footer .contact .contact1 img {
  width: 30px;
}
footer .contact .contact2 {
  padding-right: 30px;
}
footer .contact .contact2 p {
  font-family: "CustomFont2", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  text-align: end;
}
footer .wrapper {
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 70px;
  margin-top: 30px;
  border-top: solid 1px white;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
}
footer .wrapper .item {
  font-family: "CustomFont2", sans-serif;
  font-size: 0.6rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  position: absolute;
  left: max(1200px, 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
footer .wrapper .item img {
  width: 20px;
}
footer .wrapper .item1 {
  animation-delay: -12.5s;
}
footer .wrapper .item2 {
  animation-delay: -10s;
}
footer .wrapper .item3 {
  animation-delay: -7.5s;
}
footer .wrapper .item4 {
  animation-delay: -5s;
}
footer .wrapper .item5 {
  animation-delay: -2.5s;
}
footer .wrapper .item6 {
  animation-delay: 0s;
}
footer .wrapper .item7 {
  animation-delay: 2.5s;
}
footer .wrapper .item8 {
  animation-delay: 5s;
}
footer .wrapper .item9 {
  animation-delay: 7.5s;
}
footer .wrapper .item10 {
  animation-delay: 10s;
}
footer .wrapper .item11 {
  animation-delay: 12.5s;
}
footer .wrapper .item12 {
  animation-delay: 15s;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
a[href^=tel] {
  color: white !important;
  text-decoration: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  .sectionThree {
    padding: 0 24px;
  }
  .sectionThree .projGroup1 {
    flex-direction: column;
  }
  .sectionThree .projGroup1 .proj {
    width: 900px;
    height: 600px;
    margin: 0 auto;
  }
  .sectionThree .projGroup1 .proj h2 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 15px;
  }
  header {
    padding: 0 24px;
  }
  .sectionOne {
    height: 60vh;
  }
  .sectionOne .textSectionOne {
    transform: scaleX(-1);
    color: white;
    padding: 0 60px;
  }
  .sectionOne .textSectionOne h1 #title1 {
    font-size: 2.8rem;
  }
  .sectionOne .textSectionOne h1 #letter1,
  .sectionOne .textSectionOne h1 #letter2,
  .sectionOne .textSectionOne h1 #letter3 {
    font-size: 2.8rem;
    -webkit-text-stroke: 1px white; /* Contour noir de 1px */
  }
  .sectionOne .textSectionOne h1 #letter3 {
    margin-right: 50px;
  }
  .sectionOne .textSectionOne h1 #title3 {
    font-size: 2.8rem;
    margin-right: 50px;
  }
  .sectionTwo {
    width: 100%;
    max-width: 1600px;
    padding: 0 24px;
    margin: 40px auto;
  }
  .sectionTwo .sectionTwoContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .sectionTwo .sectionTwoContent .about {
    width: 100%;
    text-align: justify;
    justify-content: center;
  }
  .sectionTwo .sectionTwoContent .about .aboutTitle {
    display: flex;
    position: relative;
  }
  .sectionTwo .sectionTwoContent .about .aboutTitle img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 270px;
    bottom: 10px;
  }
  .sectionTwo .sectionTwoContent .about .aboutTitle h2 {
    font-size: 3.2rem;
  }
  .sectionTwo .sectionTwoContent .about .mee {
    display: none;
  }
  .sectionTwo .sectionTwoContent .myHead {
    width: 100%;
    height: 500px;
  }
  .sectionTwo .sectionTwoContent .myHead .webgl {
    width: 100%;
    height: 100%;
  }
  .sectionThree {
    margin: 24px auto;
    padding: 0 24px;
  }
  .sectionThree .projGroup1 {
    flex-direction: column;
  }
  .sectionThree .projGroup1 .proj {
    width: 360px;
    height: 240px;
    margin: 10px;
  }
  .sectionThree .projGroup1 .proj h2 a {
    font-size: 1.8rem;
  }
  footer {
    margin-top: 70px;
  }
  footer .contact {
    margin-top: 14px;
  }
}/*# sourceMappingURL=index.css.map */