@charset "UTF-8";
* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #131314;
  overflow-x: hidden;
}

body {
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
  overflow-x: hidden;
  width: 100vw;
}

body::before {
  content: "";
  position: fixed; /* Couvre tout l'écran, même au défilement */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 20%;
  filter: url(#grainy);
  z-index: 10; /* S'assure que cette couche soit au-dessus de tout */
  pointer-events: none; /* Permet de cliquer/interagir avec les éléments en dessous */
}

.svgBackground {
  height: 0;
}

@font-face {
  font-family: "CustomFont1";
  src: url("/font/GOMERY-Bold.woff2") format("woff2");
  font-weight: 700; /* Poids pour Bold */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont1";
  src: url("/font/GOMERY-Regular.woff2") format("woff2");
  font-weight: 400; /* Poids pour Regular */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-Regular.woff2") format("woff2");
  font-weight: 400; /* Poids pour Regular */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-Medium.woff2") format("woff2");
  font-weight: 500; /* Poids pour Medium */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-SemiBold.woff2") format("woff2");
  font-weight: 600; /* Poids pour SemiBold */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-Bold.woff2") format("woff2");
  font-weight: 700; /* Poids pour Bold */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-ExtraBold.woff2") format("woff2");
  font-weight: 800; /* Poids pour ExtraBold */
  font-style: normal;
}
@font-face {
  font-family: "CustomFont2";
  src: url("/font/Guton-Black.woff2") format("woff2");
  font-weight: 900; /* Poids pour Black */
  font-style: normal;
}
header ul li:hover,
header ul li:active {
  background: #3c76f3;
  transform: translateX(-50px);
}

header ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

header ul li:hover::before {
  background-color: #1e4aa9;
}

header ul li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

header ul li:hover::after {
  background-color: #3464cb;
}

header {
  width: 100%;
  z-index: 30;
  display: flex;
  justify-content: center;
  padding: 0 100px;
  flex-direction: column;
  height: 10vh;
  font-size: 1rem;
  font-family: "CustomFont1", sans-serif;
}
header .menu1 {
  display: flex;
  width: 100%;
}
header .menu1 .logo {
  width: 50%;
}
header .menu1 .menu-burger {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
header .menu2 {
  display: none;
}
header .pop-menu-enter {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
  position: absolute;
  animation: slideIn 0.5s ease-out forwards;
  top: 140px;
}
header .pop-menu-exit {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
  position: absolute;
  animation: slideOut 0.5s ease-out forwards;
}
header nav ul {
  position: relative;
  transform: skewY(-15deg);
}
header nav ul li {
  position: relative;
  width: 200px;
  background: #3e3f46;
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}
header nav ul li a {
  color: #999;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

header ul li:hover a {
  color: #fff;
}

@keyframes slideIn {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}
@keyframes slideOut {
  from {
    right: 0px;
    top: 140px;
  }
  to {
    right: -300px;
    top: 140px;
  }
}
.sectionUne {
  width: 100%;
  height: 100%;
  padding: 0 128px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.sectionUne .video-container {
  width: 100%;
  height: 900px;
}
.sectionUne .video-container iframe {
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.sectionTwo {
  width: 100%;
  max-width: 1600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 60px;
}
.sectionTwo .projetTexte {
  width: 100%;
  display: flex;
  font-family: "CustomFont2", sans-serif;
  font-weight: 400;
  margin-top: 44px;
}
.sectionTwo .projetTexte .projetSecRes {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.sectionTwo .projetTexte .projetSecRes .projetSec1 {
  width: 40%;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.sectionTwo .projetTexte .projetSecRes .projetSec1 ul li {
  margin-bottom: 18px;
}
.sectionTwo .projetTexte .projetSecRes .projetSec2 {
  width: 60%;
  font-style: italic;
}
.sectionTwo .projetTexte .projetSecRes .projetSec2 ul {
  margin-top: 5px;
}
.sectionTwo .projetTexte .projetSecRes .projetSec2 ul img {
  width: 40px;
  padding-right: 8px;
}
.sectionTwo .projetTexte .projetSecRes .projetSec2 ul li {
  height: 33.75px;
  margin-bottom: 14px;
}
.sectionTwo .projetTexte .projetSecRes .projetSec2 ul a {
  color: white;
  text-decoration: underline;
}
.sectionTwo .projetTexte .projetSec3 {
  width: 60%;
  font-size: 0.9rem;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: justify;
}
.sectionTwo .projetTitre {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionTwo .projetTitre h1 {
  font-family: "CustomFont1", sans-serif;
  font-size: 7.6rem;
  font-weight: 700;
  color: #306ae8;
}

#iconeDate {
  transform-origin: center center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg); /* Rotation complète */
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg); /* Rotation complète */
  }
}
.sectionThree {
  height: 600px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 60px;
  overflow: hidden;
}
.sectionThree .container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sectionThree .container .panel {
  background-size: 0px;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 80px 0;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin-left: 10px;
  position: relative;
  transition: flex 700ms ease-in;
  will-change: flex;
}
.sectionThree .container .panel h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "CustomFont1", sans-serif;
  position: absolute;
  top: 50px;
  left: 50px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
}
.sectionThree .container .panel p {
  font-size: 0.9rem;
  font-family: "CustomFont2", sans-serif;
  line-height: 32px;
  letter-spacing: 0.2px;
  position: absolute;
  top: 100px;
  left: 50px;
  padding-right: 50px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
}
.sectionThree .container .panel.active {
  flex: 5;
}
.sectionThree .container .panel.active h2,
.sectionThree .container .panel.active p {
  opacity: 1;
}
.sectionThree .container .panel.active.fond {
  background-size: 800px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 200px;
  margin-bottom: 30px;
  color: white;
  width: 100%;
  max-width: 1600px;
}
footer .menu1 {
  z-index: 10;
}
footer .menu1 .logo img {
  width: 100%;
  max-width: 1600px;
  padding: 0 60px;
}
footer .contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}
footer .contact .contact1 {
  padding-left: 20px;
}
footer .contact .contact1 img {
  width: 30px;
}
footer .contact .contact2 {
  padding-right: 30px;
}
footer .contact .contact2 p {
  font-family: "CustomFont2", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  text-align: end;
}
footer .wrapper {
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 30px;
  overflow: hidden;
  border-top: solid 1px white;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
}
footer .wrapper .item {
  font-family: "CustomFont2", sans-serif;
  font-size: 0.6rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  left: max(1200px, 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
footer .wrapper .item img {
  width: 20px;
}
footer .wrapper .item1 {
  animation-delay: -12.5s;
}
footer .wrapper .item2 {
  animation-delay: -10s;
}
footer .wrapper .item3 {
  animation-delay: -7.5s;
}
footer .wrapper .item4 {
  animation-delay: -5s;
}
footer .wrapper .item5 {
  animation-delay: -2.5s;
}
footer .wrapper .item6 {
  animation-delay: 0s;
}
footer .wrapper .item7 {
  animation-delay: 2.5s;
}
footer .wrapper .item8 {
  animation-delay: 5s;
}
footer .wrapper .item9 {
  animation-delay: 7.5s;
}
footer .wrapper .item10 {
  animation-delay: 10s;
}
footer .wrapper .item11 {
  animation-delay: 12.5s;
}
footer .wrapper .item12 {
  animation-delay: 15s;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
a[href^=tel] {
  color: white !important;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .sectionUne {
    padding: 0 60px;
  }
  .sectionUne .video-container {
    height: 600px;
  }
  .sectionUne .video-container iframe {
    border-radius: 12px;
  }
  .sectionTwo {
    margin-top: 60px;
  }
  .sectionTwo .projetTitre h1 {
    font-size: 5rem;
  }
  .sectionTwo .projetTitre #iconeDate {
    width: 100px;
    height: 100px;
  }
  .sectionTwo .projetTexte {
    flex-direction: column;
  }
  .sectionTwo .projetTexte .projetSecRes {
    display: flex;
    width: 100%;
  }
  .sectionTwo .projetTexte .projetSecRes .projetSec1 {
    width: 30%;
  }
  .sectionTwo .projetTexte .projetSecRes .projetSec2 {
    width: 70%;
  }
  .sectionTwo .projetTexte .projetSec3 {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .sectionThree .container .panel {
    background-size: 0px;
    flex: 0.2;
  }
  .sectionThree .container .panel.active.fond {
    background-size: 600px;
  }
}
@media (max-width: 780px) {
  .sectionTwo .projetTitre h1 {
    font-size: 4rem;
  }
  .sectionTwo .projetTitre #iconeDate {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
  header {
    padding: 0 24px;
  }
  .sectionUne {
    padding: 0 24px;
    margin-top: 0;
  }
  .sectionUne .video-container {
    height: 300px;
  }
  .sectionUne .video-container iframe {
    border-radius: 8px;
  }
  .sectionTwo {
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 24px;
  }
  .sectionTwo .projetTitre {
    padding: 10px 0;
  }
  .sectionTwo .projetTitre h1 {
    font-size: 3rem;
  }
  .sectionTwo .projetTitre #iconeDate {
    width: 40px;
    height: 40px;
  }
  .sectionTwo .projetTexte {
    margin-top: 20px;
  }
  .sectionTwo .projetTexte .projetSecRes {
    display: flex;
    width: 100%;
  }
  .sectionTwo .projetTexte .projetSecRes .projetSec1 {
    width: 50%;
  }
  .sectionTwo .projetTexte .projetSecRes .projetSec2 {
    width: 50%;
  }
  .sectionTwo .projetTexte .projetSecRes .projetSec2 ul li {
    font-size: 0.9rem;
    height: 27px;
    margin-bottom: 12px;
  }
  .sectionTwo .projetTexte .projetSecRes .projetSec2 ul li img {
    width: 30px;
  }
  .sectionTwo .projetTexte .projetSec3 {
    width: 100%;
    margin-top: 20px;
  }
  .sectionThree {
    height: 330px;
    padding: 0 24px;
  }
  .sectionThree .container {
    width: 100vw;
    transition: opacity 0.3s ease-in 0.4s;
  }
  .sectionThree .container .panel {
    height: 330px;
    flex: 0.3;
    background-size: 0;
    border-radius: 40px 0;
  }
  .sectionThree .container .panel h2 {
    top: 30px;
    left: 24px;
    margin-right: 4px;
  }
  .sectionThree .container .panel p {
    top: 120px;
    left: 24px;
    padding-right: 24px;
  }
  .sectionThree .container .panel.active.fond {
    background-size: 0;
  }
  footer {
    margin-top: 70px;
  }
  footer .contact {
    margin-top: 14px;
  }
}/*# sourceMappingURL=soulSight.css.map */